extends layout

block content
	style(src="css/style.css")
	script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
	script(src="js/ajax.js")
	h1= title
	p Welcome to #{title}
	#ajaxreload
		#msg
			p!= msg
		#killlog
			p!= killlog