extends layout

block content
	style(src="css/style.css")
	script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
	script(src="js/ajax.js")
	//script(type='text/javascript').
		setTimeout("ajaxUpdate()",1000*3);
	h1= title
	p Welcome to #{title}
	#ajaxreload
		#logs
		p!= msg